* {
  font-size: 16px;
}

body {
  margin-right: 15px;
  margin-left: 15px;
}

.box-sm {
  height: 90px; width: 270px;
}

.box-md {
  height: 100px; width: 300px; padding-top: 35px; padding-left: 35px; padding-bottom: 20px;
  margin-left: 130px; margin-top: 30px;
}

.box-lg{
  height: 255px; width: 660px; padding-top: 60px; padding-left: 60px; padding-bottom: 25px;
  margin-left: 25px; margin-top: 90px;
}

.border{
  border: 6px solid black; border-radius: 10px;
}

#yellow {
  background-color: #FFFF00;
}

#red {
  background-color: #FF0000;
}

#lightblue{
  background-color: #00FFFF;
}
